@page "/carousel"
@namespace HCarouselComponent

<BlazorStrap.BSCarousel NumberOfItems="@items.Count" class="carousel-slide-custom">
    <div class="carousel-inner">
        @foreach (var item in items)
        {   
                <BlazorStrap.BSCarouselItem Src="@item.Source" Alt="@item.Alt" class="carousel-img">
                    <BlazorStrap.BSCarouselCaption CaptionText="@item.Caption" HeaderText="@item.Header" class="carousel-caption-custom"/>
                </BlazorStrap.BSCarouselItem>
        }
    </div>
    <BlazorStrap.BSCarouselControl CarouselDirection="BlazorStrap.CarouselDirection.Previous" NumberOfItems="@items.Count"/>
    <BlazorStrap.BSCarouselControl CarouselDirection="BlazorStrap.CarouselDirection.Next" NumberOfItems="@items.Count"/>
</BlazorStrap.BSCarousel>

@code {
    IList<Item> items = new List<Item>
    {
        new Item
        {
            Source = "/css/images/joker.jpg",
            Alt = "First Slide",
            Caption = "",
            Header = "",
        },
        new Item
        {
            Source = "/css/images/lotr.jpg",
            Alt = "Second Slide",
            Caption = "",
            Header = "",
        },
        new Item
        {
            Source = "/css/images/inglourious-2.jpg",
            Alt = "Third Slide",
            Caption = "",
            Header = "",
        },
        new Item
        {
            Source = "/css/images/taxi-driver-2.jpg",
            Alt = "Third Slide",
            Caption = "",
            Header = "",
        },
        new Item
        {
            Source = "/css/images/pulp_fiction.jpg",
            Alt = "Third Slide",
            Caption = "",
            Header = "",
        }
    };
    class Item
    {
        public string Source { get; set; } = "";
        public string Alt { get; set; } = "";
        public string Caption { get; set; } = "";
        public string Header{ get; set; } = "";
    }
}