@page "/carousel"
@namespace HCarouselComponent

<BlazorStrap.BSCarousel NumberOfItems="@items.Count" class="carousel-slide-custom">
    <div class="carousel-inner">
        @foreach (var item in items)
        {   
                <BlazorStrap.BSCarouselItem Src="@item.Source" Alt="@item.Alt" class="carousel-img">
                    <BlazorStrap.BSCarouselCaption CaptionText="@item.Caption" HeaderText="@item.Header" class="carousel-caption-custom"/>
                </BlazorStrap.BSCarouselItem>
        }
    </div>
    <BlazorStrap.BSCarouselControl CarouselDirection="BlazorStrap.CarouselDirection.Previous" NumberOfItems="@items.Count"/>
    <BlazorStrap.BSCarouselControl CarouselDirection="BlazorStrap.CarouselDirection.Next" NumberOfItems="@items.Count"/>
</BlazorStrap.BSCarousel>

@code {
    IList<Item> items = new List<Item>
    {
        new Item
        {
            Source = "/images/ralf-rangnick.png",
            Alt = "First Slide",
            Caption = "Ralf Rangnick appointed as Manchester United Manager",
            Header = "Welcome Ralf!",
        },
        new Item
        {
            Source = "/images/ole_sacked.png",
            Alt = "Second Slide",
            Caption = "Bye Ole!",
            Header = "He got the sack",
        },
        new Item
        {
            Source = "/images/siu_manu.png",
            Alt = "Third Slide",
            Caption = "Every SIUUU in one article",
            Header = "Random urge to shout SIUUUUUU",
        },
        new Item
        {
            Source = "/images/ballon-dor.png",
            Alt = "Third Slide",
            Caption = "This year's ballon d'or ceremony",
            Header = "Will Lewangoalski finally get it?",
        }
    };
    class Item
    {
        public string Source { get; set; } = "";
        public string Alt { get; set; } = "";
        public string Caption { get; set; } = "";
        public string Header{ get; set; } = "";
    }
}