@page "/premieres"
@using ABDOTClient.Model
@using ABDOTClient.Data
@namespace PremieresComponent
@inject IMovieService MovieService

<style>
    .movie-list-item{
        transition: all 0.2s ease;
    }
    .movie-list-item:hover{
        transform: scale(1.02);
    }
    
    .movie-list-bottom-content, .movie-list-top-content{
        padding: 10px;
    }
</style>
<div>
    <h1 class="section-premieres-title">Premieres</h1>
    <p></p>
</div>
<div class="section">
    <div class="container">
        <H1>@movies.Count</h1>
        <h2 class="">2021</h2>
        <h3 class="">November</h3>
        <span class="list--group row">
            @foreach (var movie in movies) {
                <div class=" col-md-4 col-lg-3 col-sm-6 col-xl-3 movie-list-item">
                    <div class="movie-list">
                        <div class="movie-list-poster movie-list-upcoming " style="background-image: url(@movie.PosterSrc)">
                            <div class="movie-list-poster-title">@movie.Title</div>
                            <div class="movie-list-poster-date">@movie.Year</div>
                        </div>
                        <div class="movie-list-top-content">
                            <h4 class="movie-list-title">@movie.Title</h4>
                            <div>
                                <h5 class="section-label">Director</h5>
                                <p>@movie.Director</p>
                                <h5 class="section-label">Genre</h5>
                                <p>@movie.Genre</p>
                            </div>
                        </div>
                        <div class="movie-list-bottom-content">
                            <div>
                                <p class="section-label">Premiere</p>
                                <p class="movie-list-date">@movie.Year</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </span>
    </div>
</div>

@code {
    private IList<Movie> movies;


       private void Seed()
    {
        Movie[] movieArray =
        {
            new Movie
            {
                //Id = 1,
                Description = "The 1930s. A bankrupt director and a starving actress travel to the mysterious Skull Island to shoot a movie of their life, as New York is in a great crisis. ",
                Director = "Peter Jackson",
                Genre = "Adventure, Melodrama, Fantasy",
                Language = "English",
                LengthInMinutes = 200,
                Year = 2005,
                Title = "King Kong",
                PosterSrc = "css/images/default_poster.jpg"
                // Cast = new List<Actor>(),

            },
            new Movie
            {
                //Id = 2,
                Title = "Forrest Gump",
                Director = "Robert Zemeckis",
                Genre = "Drama / Comedy",
                Year = 2004,
                Description = "The life story of Forrest, a boy with a low IQ with paralysis, who becomes a billionaire and a hero of the Vietnam War.",
                Language = "English",
                LengthInMinutes = 186,
                PosterSrc = "css/images/default_poster.jpg"
                // Cast = new List<Actor>(),
            },
            new Movie
            {
                //Id = 3,
                Title = "Shawshank Redemption",
                // Cast = new List<Actor>(),
                Description = "Adaptation of a Stephen King short story. A banker who is wrongly sentenced to life imprisonment, tries to survive in a brutal prison world. ",
                Director = "Frank Darabont",
                Genre = "Drama",
                Language = "English",
                LengthInMinutes = 110,
                Year = 1994,
                PosterSrc = "css/images/default_poster.jpg"
            },
            new Movie
            {
                //Id = 4,
                Title = "Leon",
                // Cast = new List<Actor>(),
                Description = "A paid murderer saves a 12-year-old girl whose family has been killed by corrupt policemen. ",
                Genre = "Drama, Criminal Story",
                Director = "Luc Besson",
                Language = "English",
                LengthInMinutes = 110,
                Year= 1994,
                PosterSrc = "css/images/default_poster.jpg"
            },
            new Movie
            {
                //Id=5,
                // Cast = new List<Actor>(),
                Description = "To get his home back, an ugly ogre with a talkative donkey sets off to free the beautiful princess.",
                Title = "Shrek",
                Director = "Andrew Adamson / Vicky Jenson",
                Genre = "Comedy, Animation, Family",
                Language = "English, Danish",
                LengthInMinutes = 90,
                Year = 2001,
                PosterSrc = "css/images/default_poster.jpg"
            },
            new Movie
            {
                //Id = 6,
                // Cast = new List<Actor>(),
                Description = "Computer hacker Neo learns from mysterious rebels that the world he lives in is just an image sent to his brain by robots.",
                Director = "Lilly Wachowski, Lana Wachowski",
                Genre = "Action, Sci-Fi",
                Language = "English",
                LengthInMinutes = 136,
                Title = "The Matrix",
                Year = 1999,
                PosterSrc = "css/images/default_poster.jpg"
            }
        };
        movies = movieArray.ToList();
        // movies[0].Cast.Add(new Actor("Naomi Watts"));
        // movies[0].Cast.Add(new Actor("Jack Black"));
        // movies[0].Cast.Add(new Actor("Adrien Brody"));
        // movies[1].Cast.Add(new Actor("Tom Hanks"));
        // movies[2].Cast.Add(new Actor("Morgan Freeman"));
        // movies[2].Cast.Add(new Actor("Tim Robbins"));
        // movies[3].Cast.Add(new Actor("Jean Reno"));
        // movies[3].Cast.Add(new Actor("Gary Oldman"));
        // movies[3].Cast.Add(new Actor("Natalie Portman"));
        // movies[4].Cast.Add(new Actor("Mike Myers"));
        // movies[4].Cast.Add(new Actor("Eddie Murphy"));
        // movies[4].Cast.Add(new Actor("Cameron Diaz"));
        // movies[5].Cast.Add(new Actor("Keanu Reeves"));
        // movies[5].Cast.Add(new Actor("Carrie-Anne Moss"));
        // movies[5].Cast.Add(new Actor("Laurence Fishburne"));
        

    }

    protected override async Task OnInitializedAsync()
    {

        movies = new List<Movie>();
        movies = await MovieService.GetAllAsync();
    }

}