@page "/premieres"
@using ABDOTClient.Model
@using ABDOTClient.Data
@namespace PremieresComponent
@inject IMovieService MovieService

<style>
    .movie-list-item{
        transition: all 0.2s ease;
    }
    .movie-list-item:hover{
        transform: scale(1.02);
    }
    
    .movie-list-bottom-content, .movie-list-top-content{
        padding: 10px;
    }
</style>
<div>
    <h1 class="section-premieres-title">Premieres</h1>
    <p></p>
</div>
<div class="section">
    <div class="container">
        @foreach (var year in years) {
            <h2 class="">@year</h2>

            <span class="list--group row">
                @foreach (var movie in movies) {
                    @if (movie.Year == year) {
                        <div class=" col-md-4 col-lg-3 col-sm-6 col-xl-3 movie-list-item">
                            <div class="movie-list">
                                <div class="movie-list-poster movie-list-upcoming " style="background-image: url(@movie.PosterSrc)">
                                    <div class="movie-list-poster-title">@movie.Title</div>
                                    <div class="movie-list-poster-date">@movie.Year</div>
                                </div>
                                <div class="movie-list-top-content">
                                    <h4 class="movie-list-title">@movie.Title</h4>
                                    <div>
                                        <h5 class="section-label">Director</h5>
                                        <p>@movie.Director</p>
                                        <h5 class="section-label">Genre</h5>
                                        <p>@movie.Genre</p>
                                    </div>
                                </div>
                                <div class="movie-list-bottom-content">
                                    <div>
                                        <p class="section-label">Premiere</p>
                                        <p class="movie-list-date">@movie.Year</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </span>
        }
    </div>
</div>

@code {
    private IList<Movie> movies;
    List<int> years;

    protected override async Task OnInitializedAsync() {
        years = new List<int>();
        List<int> yearsPrimitive = new List<int>();
        movies = new List<Movie>();
        movies = await MovieService.GetAllAsync();
        
        
        foreach (var movie in movies) {
            yearsPrimitive.Add(movie.Year);
        }
        yearsPrimitive.Sort();
        years = yearsPrimitive.Distinct().ToList();
        foreach (var year in years) {
            Console.WriteLine(year);
        }



    }

}