@page "/"
@using ABDOTClient.Authentication
@using ABDOTClient.Factories
@namespace ProgrammeComponent
<style>
    body {
        padding-top: 40px;
    }
    .carousel-slide-custom{
        background-size: contain;
        position: relative;
    }
    .carousel-inner{
        
    }
    .carousel-caption-custom{
        position: absolute;
        right:15%;
        bottom:20px;
        left:15%;
        z-index:10;
        padding-top:20px;
        padding-bottom:20px;
        color:#fff;
        text-align:center;
    }
    .carousel-img{
        width: 100%;
        height: auto;
        overflow: hidden;
        object-fit: cover;
        max-height: 600px;
    }
   
    
</style>
<BlazorStrap.BSCarousel NumberOfItems="@items.Count" class="carousel-slide-custom">
    <div class="carousel-inner">
        @foreach (var item in items)
        {   
                <BlazorStrap.BSCarouselItem Src="@item.Source" Alt="@item.Alt" class="carousel-img">
                    <BlazorStrap.BSCarouselCaption CaptionText="@item.Caption" HeaderText="@item.Header" class="carousel-caption-custom"/>
                </BlazorStrap.BSCarouselItem>
        }
    </div>
    <BlazorStrap.BSCarouselControl CarouselDirection="BlazorStrap.CarouselDirection.Previous" NumberOfItems="@items.Count"/>
    <BlazorStrap.BSCarouselControl CarouselDirection="BlazorStrap.CarouselDirection.Next" NumberOfItems="@items.Count"/>
</BlazorStrap.BSCarousel>

<div class="section">
    <div class="container">
        <h1 id="programme-header-now" class="">playing now</h1>
        <div class="program row">
            <div class="date-list col-sm-8 hidden-xs-down">
                <div class="row"> <!-- basically a week through -->
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <a class="date-list-link btn btn--black btn--outline-white btn--small btn--full btn--hover date-list-active" href="/">Today</a>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <a class="date-list-link btn btn--black btn--outline-white btn--small btn--full btn--hover date-list-active" href="/">Monday</a>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <a class="date-list-link btn btn--black btn--outline-white btn--small btn--full btn--hover date-list-active" href="/">Tuesday</a>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <a class="date-list-link btn btn--black btn--outline-white btn--small btn--full btn--hover date-list-active" href="/">Wednesday</a>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <a class="date-list-link btn btn--black btn--outline-white btn--small btn--full btn--hover date-list-active" href="/">Thursday</a>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <a class="date-list-link btn btn--black btn--outline-white btn--small btn--full btn--hover date-list-active" href="/">Friday</a>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <a class="date-list-link btn btn--black btn--outline-white btn--small btn--full btn--hover date-list-active" href="/">Saturday</a>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <a class="date-list-link btn btn--black btn--outline-white btn--small btn--full btn--hover date-list-active" href="/">Sunday</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code{
    protected async override Task OnInitializedAsync(){
        ClientFactory.GetClient();
    }

    IList<Item> items = new List<Item>
    {
        new Item
        {
            Source = "/images/ralf-rangnick.png",
            Alt = "First Slide",
            Caption = "Ralf Rangnick appointed as Manchester United Manager",
            Header = "Welcome Ralf!",
        },
        new Item
        {
            Source = "/images/ole_sacked.png",
            Alt = "Second Slide",
            Caption = "Bye Ole!",
            Header = "He got the sack",
        },
        new Item
        {
            Source = "/images/siu_manu.png",
            Alt = "Third Slide",
            Caption = "Every SIUUU in one article",
            Header = "Random urge to shout SIUUUUUU",
        },
        new Item
        {
            Source = "/images/ballon-dor.png",
            Alt = "Third Slide",
            Caption = "This year's ballon d'or ceremony",
            Header = "Will Lewangoalski finally get it?",
        }
    };
    class Item
    {
        public string Source { get; set; } = "";
        public string Alt { get; set; } = "";
        public string Caption { get; set; } = "";
        public string Header{ get; set; } = "";
    }

}