@page "/SelectTicket"
@namespace SelectTicket

@using SeatSelectionComponent
@using ABDOTClient.Model

<style>
    .c--background {
        background: #000 center/cover url(@backgroundSrc) no-repeat;
    }
</style>
<section>
    <div style="margin-left:100px">
        <p>1. Choose tickets > 2. Payment > 3. Invoice</p>
    </div>
</section>
<div class="position-relative">
    <section class="header" >
        <div class=" c--background" style="">
            <div class="header-top">
                <div class="header-title">
                    @play.Movie.Title
                </div>
            </div>
            <div class="header-text row">
                <div class="header-info col-12">
                    <div class="header-topic">
                        Date: 
                    </div>
                    <div class="header-description">
                        @* @play.DateTime *@
                    </div>
                </div>
                <div class="header-info col-12">
                    <div class="header-topic">
                        Tickets:
                    </div>
                    <div class="header-description">
                        @ticketAmount
                    </div>
                </div>
                <div class="header-info col-12">
                    <div class="header-topic">
                        Location:
                    </div>
                    <div class="header-description">
                        @* @play.Branch.City HorizonXX, @play.Hall.Id *@
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="inner-container">
        <div class="ticket-select">
            <div class="container">
                <div class="section-separate">
                    <div class="row">
                        <div class="col-md-12 section-title">
                            How many tickets do you need?
                        </div>
                        <div class="col-md-12 ticket-select-content">
                            <div class="counter-module">
                                <div class="counter-text">
                                    <p>Normal ticket</p>
                                    <p>price idk</p>
                                </div>
                                <div class="counter-incrementer">
                                    <button class="btn btn--black btn--outline-white btn btn--hover"></button>
                                    <div class="counter-incrementer-amount"> @ticketAmount </div>
                                    <button class="btn btn--black btn--outline-white btn btn--hover"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="seat-selection">
            <div class="container">
                <div class="section-separate">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="section-title">
                                Selected seats:
                            </div>
                            <div class="section-text">
                                <div class="seat-select-choice">
                                    <div class="seat-select-choice-key">
                                        Seat 1:
                                    </div>
                                    <div class="seat-select-choice-value">
                                        @* Row: @selectedSeat.Row Column: @selectedSeat.Column *@
                                    </div>
                                </div>
                                <div class="seat-select-choice">
                                    <div class="seat-select-choice-key">
                                        Seat 2:
                                    </div>
                                    <div class="seat-select-choice-value">
                                        data
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <SeatSelection OnClick="ClickHandler"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ticket-confirmation">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 section-title">
                        buy tickets
                    </div>
                    <div class="col-xl-6">
                        <div class="section-text">
                            <p>we might want to put some text here, idk depends on the payment gate</p>
                        </div>
                        <button class="btn" @onclick="@goSomewhere">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private int ticketAmount;
    private Play play { get; set; }
    private string backgroundSrc = "/images/ticket-background.gif";
    // private Seat selectedSeat;

    protected override async Task OnInitializedAsync()
    {
        // selectedSeat = new Seat();
        Seed();

    }

    // private void ClickHandler(Seat newSeat)
    // {
    //     // selectedSeat = newSeat;
    // }

    private void goSomewhere()
    {
        throw new NotImplementedException();
    }

    private void Seed()
    {
        // play = new Play()
        // {
        //     Branch = new Branch()
        //     {
        //         City = "Aarhus",
        //         Halls = new List<Hall>()
        //         {
        //             new Hall()
        //             {
        //                 Id = 1,
        //                 Seats = new List<Seat>()
        //                 {
        //                     new Seat()
        //                     {
        //                         Column = 1,
        //                         Id = 1,
        //                         Row = 1,
        //                     }
        //                 }
        //
        //             },
        //
        //         },
        //         Id = 1,
        //         Program = new Program()
        //         {
        //             Id = 1,
        //             Plays = new List<Play>(),
        //         }
        //
        //     },
        //     DateTime = DateTime.Now,
        //     Hall = new Hall()
        //     {
        //         Id=1,
        //         Seats = new List<Seat>(),
        //     },
        //     Id = 1,
        //     Movie = new Movie()
        //     {
        //         Id = 1,
        //         Description = "The 1930s. A bankrupt director and a starving actress travel to the mysterious Skull Island to shoot a movie of their life, as New York is in a great crisis. ",
        //         Director = "Peter Jackson",
        //         Genre = "Adventure, Melodrama, Fantasy",
        //         Language = "English",
        //         Length = 200,
        //         Year = 2005,
        //         Title = "King Kong",
        //         PosterSrc = "/images/king_kong.jpg",
        //         Cast = new List<Actor>(),
        //
        //     },
            
        }
    }
}