@page "/SelectTicket"
@namespace SelectTicket

@using SeatSelectionComponent
@using ABDOTClient.Model
<style>
    .c--background {
        background: #000 center/cover url(@backgroundSrc) no-repeat;
    }
</style>
<section>
    <div style="margin-left:100px">
        <p>1. Choose tickets > 2. Payment > 3. Invoice</p>
    </div>
</section>
<div class="position-relative">
    <section class="header" >
        <div class=" c--background" style="">
            <div class="header-top">
                <div class="header-title">
                    @play.Movie.Title
                </div>
            </div>
            <div class="header-text row">
                <div class="header-info col-12">
                    <div class="header-topic">
                        Date: 
                    </div>
                    <div class="header-description">
                         @play.Date 
                    </div>
                </div>
                <div class="header-info col-12">
                    <div class="header-topic">
                        Tickets:
                    </div>
                    <div class="header-description">
                        @selectedSeats.Count
                    </div>
                </div>
                <div class="header-info col-12">
                    <div class="header-topic">
                        Location:
                    </div>
                    <div class="header-description">
                        @play.Hall.Branch.City HorizonXX, Hall Id
                    </div>
                </div>
            </div>
        </div>
    </section>
     <div class="inner-container"> 
    @*     <div class="ticket-select"> *@
    @*         <div class="container"> *@
    @*             <div class="section-separate"> *@
    @*                 <div class="row"> *@
    @*                     <div class="col-md-12 section-title"> *@
    @*                         How many tickets do you need? *@
    @*                     </div> *@
    @*                     <div class="col-md-12 ticket-select-content"> *@
    @*                         <div class="counter-module"> *@
    @*                             <div class="counter-text"> *@
    @*                                 <p>Normal ticket</p> *@
    @*                                 <p>price idk</p> *@
    @*                             </div> *@
    @*                             <div class="counter-incrementer"> *@
    @*                                 <button class="btn btn--black btn--outline-white btn btn--hover"></button> *@
    @*                                 <div class="counter-incrementer-amount">  </div> *@
    @*                                 <button class="btn btn--black btn--outline-white btn btn--hover"></button> *@
    @*                             </div> *@
    @*                         </div> *@
    @*                     </div> *@
    @*                 </div> *@
    @*             </div> *@
    @*         </div> *@
    @*     </div> *@
        <div class="seat-selection">
            <div class="container">
                <div class="section-separate">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="section-title">
                                Selected seats:
                            </div>
                            <div class="section-text">
                                @foreach (var item in selectedSeats)
                                {
                                    <div class="seat-select-choice">
                                        <div class="seat-select-choice-key">
                                            Seat:
                                        </div>
                                        <div class="seat-select-choice-value">
                                            Row: @item.Item1 Column: @item.Item2
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="col-md-6">
                            <SeatSelection OnClick="ClickHandler"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ticket-confirmation">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 section-title">
                        buy tickets
                    </div>
                    <div class="col-xl-6">
                        <div class="section-text">
                            <p>we might want to put some text here, idk depends on the payment gate</p>
                        </div>
                        <button class="btn btn--outline-white" @onclick="@goSomewhere">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private Play play { get; set; }
        private const string backgroundSrc = "/images/ticket-background.gif";
    private IList<Tuple<int,int>> selectedSeats;

    protected override async Task OnInitializedAsync()
    {
        selectedSeats = new List<Tuple<int, int>>();
        play = new Play();
        Seed();

    }

    private void ClickHandler(Tuple<int, int> newSeat)
    {
        if (selectedSeats.Contains(newSeat))
        {
            selectedSeats.Remove(newSeat);
        }
        else
        {
            selectedSeats.Add(newSeat);
        }
    }

    private void goSomewhere()
    {
        throw new NotImplementedException();
    }

    private void Seed()
    {
        play = new Play
        {
            Date = DateTime.Now,
            Hall = new Hall(1)
            {
                Branch = new Branch
                {
                    City = "Aarhus",
                    Employees = new List<Employee>(),
                    Halls = new List<Hall>(),
                },
                HallSize = 1,
                Programme = new List<Play>(),
                Seats = new List<Tuple<int, int>>(),
            },
            Movie = new Movie
            {
                Description = "The 1930s. A bankrupt director and a starving actress travel to the mysterious Skull Island to shoot a movie of their life, as New York is in a great crisis. ",
                Director = "Peter Jackson",
                Genre = "Adventure, Melodrama, Fantasy",
                Language = "English",
                LengthInMinutes = 200,
                Year = 2005,
                Title = "King Kong",
                PosterSrc = "/images/king_kong.jpg",
            },
            Tickets = new List<Ticket>(),
            TimeInMinutes = 200,
        };
    }
}