@page "/SelectTicket/{Id:int}"
@namespace SelectTicket
@using SeatSelectionComponent
@using ABDOTClient.Model
@using System.Text.Json
@using ABDOTClient.Data
@inject NavigationManager NavigationManager
@inject IPlayService PlayService

<style>
    .c--background {
        background: #000 center/cover url(@backgroundSrc) no-repeat;
    }
</style>
<section>
    <div style="margin-left:100px">
        <span><text style="font-weight: 700">1. Choose Seats </text>> 2. Payment > 3. Invoice</span>
    </div>
</section>
<div class="position-relative">
  
    <section class="header">
        <div class=" c--background" style="">
            <div class="header-top">
                <div class="header-title">
                    @play.Movie.Title
                </div>
            </div>
            <div class="header-text row">
                <div class="header-info col-12">
                    <div class="header-topic">
                        Date:
                    </div>
                    <div class="header-description">
                        @play.Date
                    </div>
                </div>
                <div class="header-info col-12">
                    <div class="header-topic">
                        Tickets:
                    </div>
                    <div class="header-description">
                        @selectedSeats.Count
                    </div>
                </div>
                <div class="header-info col-12">
                    <div class="header-topic">
                        Location:
                    </div>
                    <div class="header-description">
                         HorizonXX, @play.Hall.Id
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="inner-container">

        <div class="seat-selection">
            <div class="container">
                <div class="section-separate">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="section-title">
                                Selected seats:
                            </div>
                            <div class="section-text">
                                @if (selectedSeats == null) {
                                    <p>Please choose seats!</p>
                                }
                                else {
                                    @foreach (var item in selectedSeats) {
                                        <div class="seat-select-choice">
                                            <div class="seat-select-choice-key">
                                                Seat:
                                            </div>
                                            <div class="seat-select-choice-value">
                                                Row: @item.Item1 Column: @item.Item2
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <div class="col-md-6">
                            <CascadingValue Value="@Id">
                                <SeatSelection OnClick="ClickHandler"/>
                            </CascadingValue>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ticket-confirmation">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 section-title">
                        buy tickets
                    </div>
                    <div class="col-xl-6">
                        <div class="section-text">
                            <p>Price: @(selectedSeats.Count*play.Price) kr.</p>
                        </div>
                        <button class="btn btn--outline-white" @onclick="@GoSomewhere">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private Play play;
    private const string backgroundSrc = "/css/images/ticket-background.gif";
    private IList<Tuple<int,int>> selectedSeats;
    
    [Parameter] public int Id { get; set; }

    protected override async Task OnInitializedAsync() {
        play = new Play();
        play.Movie = new Movie();
        play.Hall = new Hall();
        play.Hall.Branch = new Branch();
        selectedSeats = new List<Tuple<int, int>>();
        try {
            play = await PlayService.GetAsync(Id);
        }
        catch (Exception e) {
            Console.WriteLine(e.Source);
            throw;
        }
        
    }

    private void ClickHandler(Tuple<int, int> newSeat)
    {
        if (selectedSeats.Contains(newSeat))
        {
            selectedSeats.Remove(newSeat);
        }
        else
        {
            selectedSeats.Add(newSeat);
        }
    }

    private void GoSomewhere()
    {
        string selectedSeatsJson = JsonSerializer.Serialize(selectedSeats);
        NavigationManager.NavigateTo($"/checkoutInfo/{play.Id}/{selectedSeatsJson}");
    }

    
}