@page "/movielist/{confirmationMessage}"
@namespace ABDOTClient.Pages.Administration
@inject NavigationManager NavigationManager
@using ABDOTClient.Model
@using Data
@attribute [Authorize(Policy = "MustBeManager")]
@inject IMovieService CloudMovieService

@attribute [Authorize(Roles = "1, 2")]

<style>
    html, body {
        background-color: white;
    }
</style>

<p style="color: green;">@confirmationMessage</p>
@if (moviesToShow == null)
{
    <p>
        <em>Loading...</em>
    </p>
} else if (!moviesToShow.Any()){
    <p>
        <em style="color:black">No Movie items exist. Please add some</em></p>
    <AuthorizeView Policy="MustBeManager">
        <div class="col-sm-4" @onclick="@(() => NavigationManager.NavigateTo("/addmovie"))">
            <button>
                <i class="oi oi-plus"/>
            </button>
        </div>
    </AuthorizeView>
        
    
}
else
{
    <div class="container " style="background-color: white">
        <div class="section-separate" style="padding-top:40px">
            <button style="border-color: transparent; background-color:transparent">
                <i class="oi oi-arrow-left" @onclick="@(()=>NavigationManager.NavigateTo("/admin"))"/>
            </button>
        </div>
        <h3 style="color:black">Movies</h3>
        <AuthorizeView Policy="MustBeManager">
            <div class="row">
                <div class="col-sm-4" @onclick="@(()=> NavigationManager.NavigateTo("/addmovie"))"><button>
                        <i class="oi oi-plus"/>
                    </button>
                </div>
            </div>
        </AuthorizeView>
    <table class="table" style="color:black; border-color: black">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Director</th>
            <th>Genre</th>
            <th>Length</th>
            <th>Year</th>
            <th>Language</th>

            <th>Remove</th>
                <th>Edit</th>
            
        </tr>
        </thead>
        <tbody>
        @foreach (var item in moviesToShow)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Title</td>
                <td>@item.Director</td>
                <td>@item.Genre</td>
                <td>@item.LengthInMinutes</td>
                <td>@item.Year</td>
                <td>@item.Language</td>
                <td>
                        <button @onclick="@(() => RemoveMovie(item.Id))">
                            <i class="oi oi-trash" style="color:red"/>
                        </button>
                    </td>
                    <td>
                        <button @onclick="@(() => Edit(item.Id))">
                            <i class="oi oi-pencil" style="color:blue"/>
                        </button>
                    </td>
                
            </tr>
        }
        </tbody>
    </table>
    </div>
}
@code {
    private IList<Movie> movies;
    private IList<Movie> moviesToShow;

    [Parameter]
    public string confirmationMessage { get; set; }


    protected override async Task OnInitializedAsync() {
        movies = new List<Movie>();
        movies = await CloudMovieService.GetAllAsync();
        moviesToShow = movies;
        if (!confirmationMessage.Contains("success")) {
            confirmationMessage = " ";
        }
    }


    private async Task RemoveMovie(int movieId) {
        Movie toRemove = movies.FirstOrDefault(m => m.Id == movieId);
        if (toRemove != null) {
            movies.Remove(toRemove);
            moviesToShow.Remove(toRemove);
            if(await CloudMovieService.RemoveMovieAsync(movieId))
                confirmationMessage = "Movie deleted successfully";
        }
        else {
            confirmationMessage = "Failed to delete movie";
        }
    }

    private void Edit(int id)
    {
        NavigationManager.NavigateTo($"EditMovie/{id}");
    }

    

}