@page "/playlist"
@namespace ABDOTClient.Pages.Administration
@inject NavigationManager NavigationManager
@using ABDOTClient.Model
@using Data

<style>
    html, body {
        background-color: white;
        color: black;
    }
</style>
@if (playsToShow == null)
{
    <p>
        <em>Loading...</em>
    </p>
} else if (!playsToShow.Any()){
    <p>
        <em>No Person items exist. Please add some</em>
    </p>
}
else
{
    <div class="container" style="background-color: white">
        <div class="section-separate" style="padding-top:40px">
            <button style="border-color: transparent; background-color:transparent">
            <i class="oi oi-arrow-left" @onclick="@(()=>NavigationManager.NavigateTo("/admin"))"/>
            </button>
        </div>
    <h3 style="color:black">Playlist</h3>
        <p style="color:black">for operators</p>
        <div class="row">
            <div class="col-sm-4" @onclick="@(()=> NavigationManager.NavigateTo("/addpersonel"))"><button>
                <i class="oi oi-plus"/>
            </button>
                </div>
        </div>
    <table class="table" style="color:black; border-color: black">
        <thead>
        <tr>
            <th>ID</th>
            <th>Movie</th>
            <th>Date</th>
            <th>Branch</th>
            <th>Hall</th>
            <th>Edit</th>
            <th>Remove</th>
            
        </tr>
        </thead>
        <tbody>
        @foreach (var item in playsToShow)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Movie.Title</td>
                <td>@item.Hall.Id</td>
                <td>
                        <button @onclick="@(() => RemovePlay(item.Id))">
                            <i class="oi oi-trash" style="color:red"/>
                        </button>
                    </td>
                    <td>
                        <button @onclick="@(() => Edit(item.Id))">
                            <i class="oi oi-pencil" style="color:blue"/>
                        </button>
                    </td>
                
            </tr>
        }
        </tbody>
    </table>
    </div>
}
@code {
    private IList<Play> plays;
    private IList<Play> playsToShow;
    private IMovieService MovieService = new CloudMovieService();
    private IBranchService BranchService;

    protected override async Task OnInitializedAsync()
    {
        BranchService = new BranchCloudService();
        plays = new List<Play>();
        if (!plays.Any())
        {
            Seed();
        }
        playsToShow = plays;
    }
    private async Task RemovePlay(int EmployeeId)
    {
        throw new NotImplementedException();
    }

    private void Edit(int id)
    {
        NavigationManager.NavigateTo($"EditPlay/{id}");
    }

    private async void Seed()
    {
        Play[] playArray =
        {
            new Play
            {
                Movie = new Movie
                {
                    Description = "The 1930s. A bankrupt director and a starving actress travel to the mysterious Skull Island to shoot a movie of their life, as New York is in a great crisis. ",
                    Director = "Peter Jackson",
                    Genre = "Adventure, Melodrama, Fantasy",
                    Language = "English",
                    LengthInMinutes = 200,
                    Year = 2005,
                    Title = "King Kong",
                    PosterSrc = "/images/king_kong.jpg",
                },
                Date = DateTime.Now,
                Hall = new Hall(1),
                Tickets = new List<Ticket>
                {
                    
                },
                TimeInMinutes = 200,
            },
            new Play
            {
                Date = DateTime.Now,
                Hall = new Hall(2),
                Movie = new Movie
                {
                    Title = "Forrest Gump",
                    Director = "Robert Zemeckis",
                    Genre = "Drama / Comedy",
                    Year = 2004,
                    Description = "The life story of Forrest, a boy with a low IQ with paralysis, who becomes a billionaire and a hero of the Vietnam War.",
                    Language = "English",
                    LengthInMinutes = 186,
                    PosterSrc = "/images/forrest_gump.jpg",
                },
                Tickets = new List<Ticket>(),
                TimeInMinutes = 186,
            },
            new Play
            {
                Date = DateTime.Now,
                Hall = new Hall(3),
                Movie = new Movie
                {
                    Description = "To get his home back, an ugly ogre with a talkative donkey sets off to free the beautiful princess.",
                    Title = "Shrek",
                    Director = "Andrew Adamson / Vicky Jenson",
                    Genre = "Comedy, Animation, Family",
                    Language = "English, Danish",
                    LengthInMinutes = 90,
                    Year = 2001,
                    PosterSrc = "/images/shrek.jpg",
                },
                Tickets = new List<Ticket>(),
                TimeInMinutes = 90,
            }
        };
        plays = playArray.ToList();

    }

}