@page "/playlist/{confirmationMessage}"
@namespace ABDOTClient.Pages.Administration
@inject NavigationManager NavigationManager
@inject IPlayService PlayService
@inject IBranchService BranchService
@inject IHallService HallService
@using ABDOTClient.Model
@using Data
@using GraphQL.Client.Abstractions.Utilities

@attribute [Authorize(Policy = "MustBeManager")]

<style>
    html, body {
        background-color: white;
        color: black;
    }
</style>
@if (playsToShow == null)
{
    <p>
        <em>Loading...</em>
    </p>
} else if (!playsToShow.Any()){
    <p>
        <em>No Play items exist. Please add some</em>
        <div class="col-sm-4" @onclick="@(()=> NavigationManager.NavigateTo("/addplay"))"><button>
                        <i class="oi oi-plus"/>
                    </button>
                        </div>
    </p>
}
else
{
    <div class="container" style="background-color: white">
    <p style="color: green;">@confirmationMessage</p>
        <div class="section-separate" style="padding-top:40px">
            <button style="border-color: transparent; background-color:transparent">
            <i class="oi oi-arrow-left" @onclick="@(()=>NavigationManager.NavigateTo("/admin"))"/>
            </button>
        </div>
    <h3 style="color:black">Plays</h3>
        <p style="color:black">for operators</p>
        <div class="row">
            <div class="col-sm-4" @onclick="@(()=> NavigationManager.NavigateTo("/addplay"))"><button>
                <i class="oi oi-plus"/>
            </button>
                </div>
        </div>
    <table class="table" style="color:black; border-color: black">
        <thead>
        <tr>
            <th>ID</th>
            <th>Movie</th>
            <th>Date</th>
            <th>Branch</th>
            <th>Hall</th>
            <th>Remove</th>
            
        </tr>
        </thead>
        <tbody>
        @foreach (var item in playsToShow)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Movie.Title</td>
                <td>@item.Date</td>
                <td> @if (item.Hall.Branch != null) {@item.Hall.Branch.City}</td>
                <td> @item.Hall.Id</td>
                <td>
                    <button @onclick="@(() => RemovePlay(item.Id))">
                        <i class="oi oi-trash" style="color:red"/>
                    </button>
                </td>
            </tr>
        }
        </tbody>
    </table>
    </div>
}
@code {
    private IList<Play> plays;
    private IList<Play> playsToShow;
    private IList<Hall> halls;
    private IList<Branch> branches;
    [Parameter]public string confirmationMessage { get; set; }

    protected override async Task OnInitializedAsync() {
        plays = new List<Play>();
        playsToShow = new List<Play>();
        halls = new List<Hall>();
        branches = new List<Branch>();
        halls = await HallService.GetAllHalls();
        branches = await BranchService.GetAllBranches();
        foreach (Branch printBranch in branches)
        {
            Console.WriteLine(printBranch);
        }
        plays = await PlayService.GetAllAsync();
        Hall hall = new Hall();
        Branch branch = new Branch();
        foreach (Play play in plays)
        {
            hall = await HallService.GetHall(play.Hall.Id);
            Console.WriteLine(hall);
            branch = await BranchService.GetBranch(hall.Branch.Id);
            Console.WriteLine(branch);
            play.Hall.Branch = branch;
        }
        playsToShow = plays;

        
        if (!confirmationMessage.ToLowerCase().Contains("success") || !confirmationMessage.ToLowerCase().Contains("fail")) {
            confirmationMessage = " ";
        }
    }
    
    private async Task RemovePlay(int Id)
    {
        Play toRemove = plays.FirstOrDefault(p => p.Id == Id);
        if (toRemove != null) {
            if (await PlayService.RemovePlayAsync(Id)) {
                plays.Remove(toRemove);
                playsToShow.Remove(toRemove);
                confirmationMessage = "Play deleted successfully";
                
            }else {
                confirmationMessage = "Failed to delete play";
            }
        }
    }
    

}